.navbar-container {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;

  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 270px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  transition: color 0.3s;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: purple;
}

body {
  padding-top: 70px;
}

.msg
{
  color: red;
}

.profile-pic
{
  height: 200px;
  width: 200px; 
  border-radius: 50%;
  margin-top: 100px
}

.Username
{
   margin-top: 30px
}

.Searchbar
{
  height: 30px;
  width: 200px;
}

.userCard
{
  padding: 15px;
   margin: 10px auto; 
   border-radius: 8px;
  width: 60%;
  border: 2px solid black;
  background: grey
}

.adding-butt
{
  height: 30px;
  width: 100px; 
  margin-left:200px
}

.accept-butt{
  height: 30px;
  width: 100px;
}

.reject-butt{
  height: 30px;
  width: 100px;
}